@charset "utf-8";

@use "./font.scss";
@use "./reset.scss";

:root {
  --red: #ea7664;
  --blue: #007bff;
  --green: #28a745;
  --yellow: #ffc107;
  --purple: #6f42c1;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-light: #f8f9fa;
  --black: #000;
  --white: #fff;
  --brown: #89757a;
  --beige: #f6f5f5;
}

body {
  font-family: "NanumGarMaesGeur";
}
